@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');
@charset 'utf-8';

/* CSS Variables */
:root {

}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Readex Pro', sans-serif;
}

header {
	background: #FFF9EA;
	height: 108px;
}

.navbar-brand .logo-text {
	color: black;
	font-size: 24px;
	font-weight: 600;
	align-self: flex-end;
}

.navbar-brand img {
	width: 47px;
	height: 47px;
}

.navbar-collapse ul {
	gap: 37px;
}

.navbar-collapse li {
	font-size: 22px;
	font-weight: 500;
}

.navbar-collapse .active {
	border-bottom: 4px solid #FFCB45 ;
	border-radius: 1px;
}

.function img {
	width: 24px;
	height: 24px;
}

.function > img {
	margin-left: 33px;
}

.cart {
	margin-left: 33px;
} 

.badge {
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 8px;
}

#cart-number {
	font-size: 9px;
	font-weight: 500;
	background: #FFCB45;
	color: #1D1D1D;
	/* padding: 0 8px; */
	vertical-align: top;
	margin-left: -8px; 
}

.function button {
	background-color: #FFCB45;
	margin-left: 33px;
	padding: 12px 24px;
	border-radius: 50px;
}

.function button:hover {
	background-color: #FFCB45;
}

#banner {
	height: 600px;
	background-color: #FFF9EA;
}

#banner .banner-left {
	width: 50%;
	height: 100%;
	padding: 150px;
	position: relative;
}

#banner .banner-right {
	width: 50%;
	height: 100%;
	background: blue;
}

#banner .slogan-text {
	width: 480px;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 20px;
}

#banner .description {
	width: 370px;
	font-size: 18px;
	font-weight: 400;
	color: rgba(29, 29, 29, 0.70);
	margin-bottom: 20px;
}

#banner .slogan-text span {
	color: #FFCB45;
}

.getstart-button {
	background-color: #FFCB45;
	border-radius: 50px;
	display: inline-block;
	width: 150px;
}

.wave {
	position: absolute;

	left: 0;
	bottom: 50px;
}

.random-foods {
	display: grid;

	grid-template-columns: repeat(9 / 110%);
	grid-template-rows: repeat(9 / 110%)
}

.random-foods > img {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	align-self: center; 
}

.food {
 color: transparent;
 text-shadow: 0 0 black;
 align-self: center;
}

