@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');
@charset 'utf-8';

/* CSS Variables */
:root {

}

html {
	scroll-behavior: smooth;
}


body {
	font-family: 'Readex Pro', sans-serif;
}


header {
	background: #FFF9EA;
	height: 108px;
}

.navbar-brand .logo-text {
	color: #1D1D1D;
	font-size: 24px;
}

.navbar-brand img {
	width: 47px;
	height: 47px;
}

.navbar-collapse ul {
	gap: 37px;
}

.navbar-collapse li {
	font-size: 22px;
	font-weight: 500;
	color: rgba(29, 29, 29, 0.70);
}

.navbar-collapse .active {
	border-bottom: 4px solid #FFCB45 ;
	border-radius: 1px;
}

.function img {
	width: 24px;
	height: 24px;
}

.function > img {
	margin-left: 33px;
}

.cart {
	margin-left: 33px;
} 

.badge {
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 8px;
}

#cart-number {
	font-size: 9px;
	font-weight: 500;
	background: #FFCB45;
	color: #1D1D1D;
	/* padding: 8px 0; */
	vertical-align: top;
	margin-left: -8px; 
}

.function button {
	background-color: #FFCB45;
	margin-left: 33px;
	padding: 12px 24px;
	border-radius: 50px;
}

.function button:hover {
	background-color: #FFCB45;
}

#home {
	height: 600px;
	background-color: #FFF9EA;
}

#home .home-left {
	width: 50%;
	height: 100%;
	padding: 150px;
	position: relative;
}

#home .home-right {
	width: 50%;
	height: 100%;
}

#home .slogan-text {
	width: 480px;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 20px;
}

#home .description {
	width: 370px;
	font-size: 18px;
	font-weight: 400;
	color: rgba(29, 29, 29, 0.70);
	margin-bottom: 20px;
}

#home .slogan-text span {
	color: #FFCB45;
}

.getstart-button {
	background-color: #FFCB45;
	border-radius: 50px;
	display: inline-block;
	width: 150px;
}

.wave {
	position: absolute;

	left: 0;
	bottom: 50px;
}

.food1, .food2, .food3 {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}


section:not(#home) {
	padding-top: 80px;
}

#how-it-works {
	padding-left: 200px;
	padding-right: 200px;
}

main .part {
	color: #FFCB45;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 6px;
}

main .title {
	color: #1D1D1D;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 26px;
}

main .description {
	color: rgba(29, 29, 29, 0.70);
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 32px;
}

main .second-part .card {
	border: none;
	text-align: center;
}

#how-it-works img {
	width: 180px;
	text-align: center;
}

#how-it-works .second-part .card .card-title {
	color: #1D1D1D;
	font-size: 28px;
	font-weight: 600;
	margin-top: 24px;
}

#how-it-works .second-part .card .card-text {
	color: rgba(29, 29, 29, 0.70);
	font-size: 20px;
	font-weight: 500;
	margin-top: 15px;
}

#our-menu {
	padding-left: 80px;
	padding-right: 80px;
}

#our-menu .second-part {
	gap: 24px;
}

#our-menu .second-part .card {
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
}

#our-menu .second-part .card-img {
	background-color: #F1F1F1;
	height: 300px;
}

#our-menu .second-part .card-img img {
	width: 230px;
}

#our-menu .second-part .card-body {
	padding: 0;
}

#our-menu .second-part .card-body::before{
	content: '';
	display: block;
	height: 20px;
	width: 100%;
	margin-top: -20px;
	background-color: white;
	border-radius: 50%/20px 20px 0 0;;
}

#our-menu button {
	padding: 12px 24px;
	background-color: #FFCB45;
	border-radius: 50px;
	margin-top: 70px;
	font-size: 14px;
	font-weight: 700;
}

#signup {
	margin-left: 250px;
	margin-right: 250px;
	height: 332px;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.71) 100%), url(../images/signup/1.jpeg), lightgray 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 10px;
}

#signup h1{
	color: #fff;
	font-size: 32px;
	font-weight: 700;
}


#signup button {
	background-color: #FFCB45;
	padding: 12px 24px;
	border-radius: 50px;
	margin-top: 30px;
}

#what-the-say {
	height: 70vh;
	margin-bottom: 70px;
}

#what-the-say .first-part {
	height: 100%;
	/* width: 50%; */
}

#what-the-say .second-part {
	width: 50%;
	overflow-x: scroll;
}

#what-the-say .first-part {
	gap: 10px;
}

#what-the-say .first-part img {
	width: 100%;
	height: 50%;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

#what-the-say .first-part div {
	width: 100%;
	height: 50%;
	gap: 10px;
}

#what-the-say .first-part div img {
	width: 50%;
	height: 100%;
	border-radius: 10px;
}

#what-the-say .second-part .card {
	width: 452px;
	height: 210px;
	background-color: #F1F1F1;
	border-radius: 10px;
}

footer {
	background-color: #FFF9EA;
	height: 50vh;
	margin-top: 70px;
}