@import "variables";
@import "mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $primary-font;
	transition: all 0.3s linear;
}

body {
	overflow-x: hidden;
}

.btn {
	@include button-text();
	border-radius: 50px;
	padding: 12px 24px;
	background-color: $primary;

	&:hover {
		background-color: $primary;
	}
}