// COLORS

$primary: #FFCB45;
$accent: #F28B42;
$black: #1D1D1D;
$text-light: rgba(29, 29, 29, 0.70);
$light: #FFF9EA;

// FONT FAMILY
@import "https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap";

$font-weights: (
	"regular": 400,
	"medium": 500,
	"semi-bold": 600,
	"bold": 700,
);

$primary-font: "Readex Pro", sans-serif;