@import "variables";
@import "mixins";

#what-the-say {
	padding: 0 150px;

	.left {
		gap: 10px;

		img {
			border-radius: 10px;
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
		}
	}

	.right {
		.card {
			min-width: 450px;
			height: 220px;
			background-color: #f1f1f1;
			border-radius: 10px;
			padding: 30px 20px;

			h4 {
				@include headline-text();
				color: $black;
			}

			p {
				@include body-text();
				color: $text-light;
				margin-bottom: 0;
			}
		}
	}
}