@import "reset";

@import "variables";
@import "mixins";

@import "navbar";
@import "home";
@import "how-it-works";
@import "our-menu";
@import "what-the-say";
@import "signup";
@import "footer";

@import "responsive";



main {
	section:not(#home) {
		margin-top: 70px;
	}

	> * {
		p:first-child {
			@include title-2-text();
			color: $primary;
			margin-bottom: 6px;
		}

		h1 {
			@include header-text();
			color: $black;
			margin-bottom: 26px;
		}

		p:last-child {
			@include title-2-text();
			color: $text-light;
			margin-bottom: 32px;
		}
	}

	.card {
		border: none;
		text-align: center;
	}
}

footer {
	background-color: $light;
	margin-top: 70px;
	padding-bottom: 20px;

	hr {
		margin-top: 80px;
	}

	.first-part {
		padding: 80px 100px 0 100px;

		.first {
			height: 100%;
			
		}
	}
}

